* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
  font-family: Space Grotesk, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

main {
  padding: 0px 16px;
}

.hero__single__page {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.hero__social__media {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.hero__rings {
  margin-top: 32px;
  height: 129px;
  width: 530px;
  position: absolute;
  left: -325px;
  top: 95px;
}
.hero__profile {
  width: 174.207px;
  height: 383px;
  object-fit: contain;
  margin-top: -104px;
  z-index: 2;
}

.hero__circle-2 {
  position: absolute;
  top: 258px;
  right: -60px;
}

.hero__text__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.hero__text__container h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 40px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -1.136px;
  max-width: 15ch;
}
.hero__text__container p {
  color: #d9d9d9;
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.625rem;
  max-width: 55ch;
}
.hero__text__container a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-top: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 8px;
}
.hero__text__container span {
  border-bottom: 4px solid #4ee1a0;
  padding-top: 0px;
}

.hero__finish__line {
  border: 1px solid white;
  margin-top: 75px;
  width: 343px;
}

.experience {
  position: relative;
}

.experience__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: 40px 16px;
  gap: 24px;
}

.experience__list li strong {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

.experience__list li p {
  color: #d9d9d9;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.62rem;
}

.experience__image {
  position: absolute;
  right: -360px;
  bottom: -65px;
}

.experience__finish__line {
  border: 1px solid gray;
  display: block;
}

.projects__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.projects img {
  width: 345px;
  height: 253px;
  object-fit: contain;
  margin-top: 41px;
}
.projects__title__container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
}
.projects__title__container h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -1.136px;
}
.projects__title__container a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.62rem;
  letter-spacing: 2.286px;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 8px;
  text-decoration: none;
}

.projects__list h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.projects__container {
  margin-top: 7px;
  display: flex;
  gap: 18px;
}

.projects__container span {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #d9d9d9;
}

.projects__navigator {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

.projects__navigator a {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 2.286px;
  text-decoration: none;
  border-bottom: 2px solid #4ee1a0;
}

.footer {
  padding: 60px 16px;
  background: #242424;
  text-align: center;
  position: relative;

  margin-top: 80px;
}

.footer__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -1.136px;
}

.footer__paragraph {
  color: #d9d9d9;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.635rem;
  margin-top: 20px;
}

.footer__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__form__input {
  background: transparent;
  display: block;
  width: 100%;
  color: #fff;
  margin-top: 49px;
  height: 43px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
  border: none;
  border-bottom: 1px solid white;
}

.footer__form__textarea {
  background: transparent;
  display: block;
  width: 100%;
  resize: none;
  height: 107px;
  margin-top: 32px;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
}

.footer__form__button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 2.286px;
  border: none;

  border-bottom: 2px solid #4ee1a0;
  background-color: transparent;
  color: #fff;
  margin-top: 35px;
  margin-bottom: 87px;
}

.footer__rings {
  position: absolute;
  left: -350px;
  bottom: 276px;
}

.footer__finish-line {
  border: 1px solid white;
  margin: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 39px;
}
.footer__social-media {
  margin-top: 20px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.footer__social-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.333px;
  color: #fff;
  margin-top: 39px;
}
